h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.header1 {
	margin: 20px 0;
	text-align: center;
	font-size: 44px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
	color: #afafaf;
	text-transform: uppercase;
}
